attrs
certifi
charset-normalizer
click
click-plugins
cligj
colorama
Fiona
GeoAlchemy2
geopandas
greenlet
idna
munch
numpy
OWSLib
packaging
pandas
pyparsing
pyproj
python-dateutil
pytz
PyYAML
requests
Shapely
six
SQLAlchemy
urllib3
zipfile38
os